[project]
	description = "  Snapshots of the UGent SCDB (non-grid and os only)"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stijn De Weirdt (stdweird)
[access "refs/for/refs/*"]
	read = group user/Stijn De Weirdt (stdweird)
	push = group user/Stijn De Weirdt (stdweird)
	label-Code-Review = -2..+2 group user/Stijn De Weirdt (stdweird)
	label-Verified = -1..+1 group user/Stijn De Weirdt (stdweird)
	rebase = group user/Stijn De Weirdt (stdweird)
	removeReviewer = group user/Stijn De Weirdt (stdweird)
	submit = group user/Stijn De Weirdt (stdweird)
[access "refs/heads/*"]
	read = group user/Stijn De Weirdt (stdweird)
	create = group user/Stijn De Weirdt (stdweird)
	push = +force group user/Stijn De Weirdt (stdweird)
	pushMerge = group user/Stijn De Weirdt (stdweird)
[access "refs/tags/*"]
	push = +force group user/Stijn De Weirdt (stdweird)
	pushTag = group user/Stijn De Weirdt (stdweird)
	pushSignedTag = group user/Stijn De Weirdt (stdweird)
